.time {
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--background-end-rgb);
  width: 20%;
}

.digitalIsland {
  width: 10rem;
  border-radius: 5rem;
  height: 3rem;
  background-color: black;
}

.batteryIcon {
  height: 1rem;
  width: 2rem;
  background-color: black;
  width: 20%;
}

.headerContainer {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .headerContainer > *:first-child {
  margin-right: auto;
}
.headerContainer > *:last-child {
  margin-left: auto;
} */
